html{
  font-family: monospace;
  max-width: 750px;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  background: #F5F5F5F1;
  background-image: url('/img/space.gif');
  background-repeat: repeat;
  background-size: auto;
}


body{
  overflow-y: scroll;
}

.center{
  font-size: 16px;
  text-align: center;
}

.title-box{
  display: inline-block;
  vertical-align: middle;
}

.big {
  font-size: 28px;
  color: yellow;
  padding: 2px;
}

h1,h2{
  color: yellow;
  font-size: 28px;
}

.tiny {
  font-size: 14px;
}

.links{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  color: orange;
}

.link{
  padding: 5px;
  color: orange;
}

.unlink {
  text-decoration: none;
}

a{
  font-weight: bold;
  color: yellow;
}

.section{
  margin-top: 5ch;
}

.section-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: yellow;
}

.section-body{
  margin-top: 0;
  font-size: 16px;
  text-align: justify;
  color: orange;
}

.indent{
  margin-left: 10px;
}

.palm{
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: auto;
}
